#desc-wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 120vh;
    overflow-x: hidden;
}

h1, h2{
    font-family: 'D2Coding-bold';
    margin: 0;
}

#intro{
    display: flex;
    justify-content: space-around;
    width: 50rem;
    min-height: 18rem;
    margin: 8rem auto 0;
}

#chart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 75%;
    min-height: 15rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#desc{
    width: 30rem;
    word-break: keep-all;
    font-size: small;
}

.imgContainer{
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.p-bold{
    font-size: 6rem;
    text-align: center;
}

.p-bold:hover{
    transform: scale(1.1);
    transition: ease-in 0.05s;
    cursor: pointer;
    user-select: none;
}

#profile {
    width: 100%;
}

#vertical-divider{
    margin-top: 0.5rem;
    width: 100vw;
    height: 1px;
    background-color: #C7A26B;
}