#desc-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* min-height: 120vh; */
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

h1, h3 {
    font-weight: 700;
    margin: 0;
}

#file_form {
    position: absolute;
    top: -3rem;
}

#file_input {
    width: 10rem;
}

#file_sumbit {
    width: 4.5rem;
    height: 2rem;
    font-size: 0.8rem;
}

#intro-container {
    display: flex;
    justify-content: space-around;
    width: 50rem;
    min-height: 18rem;
    margin: 8rem auto 0;
}

#chart-container {
    display: flex;
    min-width: 65rem;
    min-height: 630px;
    margin-bottom: 5rem;
}

#chart-item {
    display: flex;
    position: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    min-height: 100% !important;
    overflow-y: hidden;
    padding: 0.5rem;
    border-radius: 1rem;
}

.chart-title {
    margin: 0;
}

#desc {
    width: 30rem;
    word-break: keep-all;
    font-size: small;
}

.imgContainer {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.p-bold {
    font-size: 6rem;
    text-align: center;
}

.p-bold:hover {
    transform: scale(1.1);
    transition: ease-in 0.05s;
    cursor: pointer;
    user-select: none;
}

#profile {
    width: 100%;
}

#vertical-divider {
    margin: 0.5rem;
    width: 100vw;
    min-height: 1px !important;
    background-color: #C7A26B;
}

#filter-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60rem;
    margin: 1rem 0;
    margin-top: 3rem;
    min-height: 4rem !important;
}


.filter-text {
    display: flexbox;
    min-width: 1rem;
    height: 2.4rem;
    color: #60432F;
    margin-left: 1rem;
}