#header{
    position: fixed;
    left: 0;
    width: 100%;
    height: 3rem;
    /* background-color: black; */
}

#header::after{
    position: absolute;
    content: "";
    top: 3rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #C7A26B;
}