#header {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 70%;
    height: 3rem;
    /* background-color: black; */
}

.link {
    position: relative;
    padding: 1rem;
    margin: 0 0.2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgb(204, 186, 147);
    font-weight: bold;
}

#logout_btn {
    margin-left: 0.5rem;
    /* color: white; */
    width: 2rem;
    background-image: url("../assets/exit.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}