@font-face {
  font-family: "D2Coding-Regular";
  font-weight:normal;
  src: url("../assets/D2Coding-Ver1.3.2-20180524-all.ttc") format("truetype");
}

@font-face {
  font-family: "D2Coding-Bold";
  font-weight: bold;
  src: url("../assets/D2CodingBold-Ver1.3.2-20180524-ligature.ttf") format("truetype");
}

:root {
  font-family: "D2Coding-Regular", "D2Coding-Bold";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #372A15;
  background-color: #ECE3D4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #60432F;
  text-decoration: inherit;
}

body {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100vw;
  max-width: 100%;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d6c2a4;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #cab595;
}